<div class="container">
     <h1> Register </h1>

     <ul> 
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li><%= error.message %></li>
        <% })} %>
      </ul>

     <form action="/students/register" method="POST">
        <div>
            <input 
            type="text" 
            id="student_name" 
            name="student_name" 
            placeholder="Student Name" 
            value="<%= typeof student_name !== 'undefined' ? student_name : '' %>"
            required/>
        </div>
        <div>
            <input 
            type="text" 
            id="student_ID" 
            name="student_ID" 
            placeholder="Student ID" 
            value="<%= typeof student_ID !== 'undefined' ? student_ID : '' %>"
            required/>
        </div>
        <div>
            <select id="student_year" name="student_year" required>
                 <option value="" disabled <%= typeof student_year === 'undefined' || student_year === '' ? 'selected' : '' %>>Select year</option>
                <option value="11" <%= student_year === "11" ? 'selected' : '' %>>11</option>
                <option value="12" <%= student_year === "12" ? 'selected' : '' %>>12</option>
            </select>
        </div>
        <div>
            <input 
            type="text" 
            id="student_house" 
            name="student_house" 
            placeholder="Student House" 
            value="<%= typeof student_house !== 'undefined' ? student_house : '' %>"
            required/>
        </div>
        <div>
            <input 
            type="password" 
            id="password" 
            name="password" 
            placeholder="Password" 
            required/>
        </div>
        <div>
            <input 
            type="password" 
            id="password2" 
            name="password2" 
            placeholder="Confirm password" 
            required/>
        </div>
        <div>
            <input 
            type="submit"
            value="Register" 
         />
        </div>
        <a href="/students/login">Already registered? Login here</a>
    </form>
</div>